.mform-headline h3 {
    margin: 0;
}

.mform select.form-control {
    height: 34px;
}

.mform select[multiple], .mform select[size] {
    height: auto;
}

.mform .form-horizontal .mform-headline,
.mform .form-horizontal .mform-description {
    margin-left: 0;
    margin-right: 0;
}


.mform .mform-tabs .nav-tabs {
    margin-bottom: 0;
}

.mform .mform-tabs .tab-content {
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
}

.mform .mform-headline.grey-legend-background h3,
.sortitem .mform fieldset.grey-legend-background > legend,
.mform fieldset.grey-legend-background > legend {
    border-bottom: none;
    padding: 8px 10px;
    background: #d8d8d8;
    font-size: 14px;
    font-weight: bold;
}

.mform .tab-content .mform-headline.grey-legend-background h3,
.mform .tab-content fieldset.grey-legend-background > legend,
.mform .tab-content fieldset.grey-legend-background > legend {
    background: #f3f3f3;
}

.sortitem .mform fieldset.grey-legend-background:first-child {
    margin-top: 5px;
}

.sortitem .mform .mform-headline.grey-legend-background h3,
.sortitem .mform fieldset.grey-legend-background > legend {
    background: #ececec;
}

.tab-content .sortitem {
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.mform-alert + .mform-alert {
    margin-top: -15px;
}

.mform .btn-white {
background-color: #fff;
color: #333;
border-radius: 0;
text-align: left;
font-size: 14px;
height: 50px;
line-height: 20px;
padding: 15px;
border-top: 1px solid #e8e8e8;
border-bottom: 1px solid #e8e8e8;
position: relative;
margin-bottom: 1px;
}

.mform .btn-white[aria-expanded=true] {
    background: #4b9ad9;
color: #fff;
}


.mform .btn-white:hover {
    background-color: #4b9ad9;
    color: #ffffff;
}

.mform .btn-white:focus,
.mform .btn-white:active {
    background-color: #2a81c7;
}

.mform-tabs .btn-white {
    background-color: #fafafa;
}


.mform .btn-white:after {
    content: '\f067';
    width: 10px;
    height: 10px;
    color: #4b9ad9;
    display: inline-block;
    margin-left: 15px;float: right;font: normal normal normal 14px/1 FontAwesome;font-size: 20px;;
    font-size: 15px;
}

.mform .btn-white:hover:after {

    color: #FFF;

}



.mform .btn-white[aria-expanded="true"]:after {

content: '\f068';
    color: #fff;
}


.mform .collapse-wrapper  {
    box-sizing: border-box;
    padding-top: 10px;
    display: block; 

}
.mform .form-inline label { display: block;}

.mform .form-inline .form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}


.mform a.mblock-info-tooltip {
    margin-left: 7px;
}

.mform .panel-group[data-group-hide-toggle-links=true] .panel > a[data-toggle=collapse] {
    display: none;
}

.mform .panel-group[data-group-hide-toggle-links] {
    margin-bottom: 2rem;
    background-color: transparent;
}

.mform .panel-group[data-group-hide-toggle-links] .panel {
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

.mform .panel-group[data-group-hide-toggle-links] .panel + .panel {
    margin-top: 0;
}

.mform .collapse,
.mform .collapsing {
}



body.rex-theme-dark .mform .mform-tabs .tab-content {
    background-color: #202b35;
}

body.rex-theme-dark .mform .mform-headline.grey-legend-background h3,
body.rex-theme-dark .sortitem .mform fieldset.grey-legend-background > legend,
body.rex-theme-dark .mform fieldset.grey-legend-background > legend {
    background-color: #1a3332;
}

body.rex-theme-dark .mform .tab-content .mform-headline.grey-legend-background h3,
body.rex-theme-dark .mform .tab-content fieldset.grey-legend-background > legend,
body.rex-theme-dark .mform .tab-content fieldset.grey-legend-background > legend {
    background-color: #f3f3f3;
}

body.rex-theme-dark .sortitem .mform .mform-headline.grey-legend-background h3,
body.rex-theme-dark .sortitem .mform fieldset.grey-legend-background > legend {
    background-color: #ececec;
}

body.rex-theme-dark .mform .btn-white {
    background-color: #202b35;
    color: rgba(255, 255, 255, 0.75);
    border-top-color: #151c22;
    border-bottom-color: #151c22;
}

body.rex-theme-dark .mform .btn-white[aria-expanded=true] {
    background-color: #0f4671;
    color: rgba(255, 255, 255, 0.75);
}

body.rex-theme-dark .mform .btn-white:hover {
    background-color: #0f4671;
    color: rgba(255, 255, 255, 0.75);
}

body.rex-theme-dark .mform .btn-white:focus,
body.rex-theme-dark .mform .btn-white:active {
    background-color: #0f4671;
}

body.rex-theme-dark .mform-tabs .btn-white {
    background-color: #202b35;
}

body.rex-theme-dark .mform .btn-white:after {
    color: rgba(255, 255, 255, 0.75);
}

body.rex-theme-dark .mform .btn-white:hover:after {
    color: #7abaec;
}

body.rex-theme-dark .mform .btn-white[aria-expanded="true"]:after {
    color: #7abaec;
}

body.rex-theme-dark .mform .collapse,
body.rex-theme-dark .mform .collapsing {
   
}

@media (prefers-color-scheme: dark) {

    body.rex-has-theme:not(.rex-theme-light) .mform .mform-tabs .tab-content {
        background-color: #202b35;
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .mform-headline.grey-legend-background h3,
    body.rex-has-theme:not(.rex-theme-light) .sortitem .mform fieldset.grey-legend-background > legend,
    body.rex-has-theme:not(.rex-theme-light) .mform fieldset.grey-legend-background > legend {
        background-color: #1a3332;
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .tab-content .mform-headline.grey-legend-background h3,
    body.rex-has-theme:not(.rex-theme-light) .mform .tab-content fieldset.grey-legend-background > legend,
    body.rex-has-theme:not(.rex-theme-light) .mform .tab-content fieldset.grey-legend-background > legend {
        background-color: #f3f3f3;
    }

    body.rex-has-theme:not(.rex-theme-light) .sortitem .mform .mform-headline.grey-legend-background h3,
    body.rex-has-theme:not(.rex-theme-light) .sortitem .mform fieldset.grey-legend-background > legend {
        background-color: #ececec;
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .btn-white {
        background-color: #202b35;
        color: rgba(255, 255, 255, 0.75);
        border-top-color: #151c22;
        border-bottom-color: #151c22;
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .btn-white[aria-expanded=true] {
        background-color: #1867a6;
        color: rgba(255, 255, 255, 0.75);
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .btn-white:hover {
        background-color: #1867a6;
        color: rgba(255, 255, 255, 0.75);
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .btn-white:focus,
    body.rex-has-theme:not(.rex-theme-light) .mform .btn-white:active {
        background-color: #1867a6;
    }

    body.rex-has-theme:not(.rex-theme-light) .mform-tabs .btn-white {
        background-color: #202b35;
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .btn-white:after {
        color: rgba(255, 255, 255, 0.75);
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .btn-white:hover:after {
        color: #7abaec;
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .btn-white[aria-expanded="true"]:after {
        color: #7abaec;
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .collapse,
    body.rex-has-theme:not(.rex-theme-light) .mform .collapsing {
    }
}



