.mform-headline h3 {
    margin: 0;
}

.mform select.form-control {
    height: 34px;
}

.mform select[multiple], .mform select[size] {
    height: auto;
}

.mform .form-horizontal .mform-headline,
.mform .form-horizontal .mform-description {
    margin-left: 0;
    margin-right: 0;
}

.mform .mform-tabs .nav-tabs {
    margin-bottom: 0;
}

.mform .mform-tabs .tab-content {
    padding: 20px;
    background: #fff;
}

.mform .mform-tabs.rex-page-nav:last-child {
    margin-bottom: 0;
}

.mform .form-horizontal fieldset {
    width: 100%;
}

.mform .mform-headline.grey-legend-background h3,
.sortitem .mform fieldset.grey-legend-background > legend,
.mform fieldset.grey-legend-background > legend {
    border-bottom: none;
    padding: 8px 10px;
    background: #d8d8d8;
    font-size: 14px;
    font-weight: bold;
}

.mform .tab-content .mform-headline.grey-legend-background h3,
.mform .tab-content fieldset.grey-legend-background > legend,
.mform .tab-content fieldset.grey-legend-background > legend {
    background: #f3f3f3;
}

.sortitem .mform fieldset.grey-legend-background:first-child {
    margin-top: 5px;
}

.sortitem .mform .mform-headline.grey-legend-background h3,
.sortitem .mform fieldset.grey-legend-background > legend {
    background: #ececec;
}

.tab-content .sortitem {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

.mform-alert + .mform-alert {
    margin-top: -15px;
}

.mform .btn-white {
    background-color: #fff;
    color: #333;
    border-radius: 0;
    text-align: left;
    font-size: 14px;
    height: 50px;
    line-height: 20px;
    padding: 15px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    margin-bottom: 1px;
}

.mform .btn-white[aria-expanded=true] {
    background: #4b9ad9;
    color: #fff;
}

.mform .btn-white:hover {
    background-color: #4b9ad9;
    color: #ffffff;
}

.mform .btn-white:focus,
.mform .btn-white:active {
    background-color: #2a81c7;
}

.mform-tabs .btn-white {
    background-color: #fafafa;
}

.mform .btn-white:after {
    content: '\f067';
    width: 10px;
    height: 10px;
    color: #4b9ad9;
    display: inline-block;
    margin-left: 15px;
    float: right;
    font: normal normal 900 14px/1 "Font Awesome 6 Free", FontAwesome;
    font-size: 15px;
}

.mform .btn-white:hover:after {
    color: #FFF;
}

.mform .btn-white[aria-expanded="true"]:after {
    content: '\f068';
    color: #fff;
}

.mform .collapse-wrapper {
    box-sizing: border-box;
    padding-top: 10px;
    display: block;
}

.mform .form-inline label {
    display: block;
}

.mform .form-inline .form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}


.mform a.mblock-info-tooltip {
    margin-left: 7px;
}

.mform .panel-group[data-group-hide-toggle-links=true] .panel > a[data-toggle=collapse] {
    display: none;
}

.mform .panel-group[data-group-hide-toggle-links] {
    margin-bottom: 2rem;
    background-color: transparent;
}

.mform .panel-group[data-group-hide-toggle-links] .panel {
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

.mform .panel-group[data-group-hide-toggle-links] .panel + .panel {
    margin-top: 0;
}

body.rex-theme-dark .mform .mform-tabs .nav-tabs {
    /*background-color: rgba(0, 0, 0, 0.15);*/
}

body.rex-theme-dark .mform .mform-tabs .tab-content {
    background-color: #202b35;
}

body.rex-theme-dark .mform .mform-headline.grey-legend-background h3,
body.rex-theme-dark .sortitem .mform fieldset.grey-legend-background > legend,
body.rex-theme-dark .mform fieldset.grey-legend-background > legend {
    background-color: #1a3332;
}

body.rex-theme-dark .mform .tab-content .mform-headline.grey-legend-background h3,
body.rex-theme-dark .mform .tab-content fieldset.grey-legend-background > legend,
body.rex-theme-dark .mform .tab-content fieldset.grey-legend-background > legend {
    background-color: #f3f3f3;
}

body.rex-theme-dark .sortitem .mform .mform-headline.grey-legend-background h3,
body.rex-theme-dark .sortitem .mform fieldset.grey-legend-background > legend {
    background-color: #ececec;
}

body.rex-theme-dark .mform .btn-white {
    background-color: #202b35;
    color: rgba(255, 255, 255, 0.75);
    border-top-color: #151c22;
    border-bottom-color: #151c22;
}

body.rex-theme-dark .mform .btn-white[aria-expanded=true] {
    background-color: #0f4671;
    color: rgba(255, 255, 255, 0.75);
}

body.rex-theme-dark .mform .btn-white:hover {
    background-color: #0f4671;
    color: rgba(255, 255, 255, 0.75);
}

body.rex-theme-dark .mform .btn-white:focus,
body.rex-theme-dark .mform .btn-white:active {
    background-color: #0f4671;
}

body.rex-theme-dark .mform-tabs .btn-white {
    background-color: #202b35;
}

body.rex-theme-dark .mform .btn-white:after {
    color: rgba(255, 255, 255, 0.75);
}

body.rex-theme-dark .mform .btn-white:hover:after {
    color: #7abaec;
}

body.rex-theme-dark .mform .btn-white[aria-expanded="true"]:after {
    color: #7abaec;
}

body.rex-theme-dark .mform .collapse,
body.rex-theme-dark .mform .collapsing {

}

@media (prefers-color-scheme: dark) {
    body.rex-has-theme:not(.rex-theme-light) .mform .mform-tabs .nav-tabs {
        /*background-color: rgba(0, 0, 0, 0.15);*/
    }


    body.rex-has-theme:not(.rex-theme-light) .mform .mform-tabs .tab-content {
        background-color: #202b35;
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .mform-headline.grey-legend-background h3,
    body.rex-has-theme:not(.rex-theme-light) .sortitem .mform fieldset.grey-legend-background > legend,
    body.rex-has-theme:not(.rex-theme-light) .mform fieldset.grey-legend-background > legend {
        background-color: #1a3332;
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .tab-content .mform-headline.grey-legend-background h3,
    body.rex-has-theme:not(.rex-theme-light) .mform .tab-content fieldset.grey-legend-background > legend,
    body.rex-has-theme:not(.rex-theme-light) .mform .tab-content fieldset.grey-legend-background > legend {
        background-color: #f3f3f3;
    }

    body.rex-has-theme:not(.rex-theme-light) .sortitem .mform .mform-headline.grey-legend-background h3,
    body.rex-has-theme:not(.rex-theme-light) .sortitem .mform fieldset.grey-legend-background > legend {
        background-color: #ececec;
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .btn-white {
        background-color: #202b35;
        color: rgba(255, 255, 255, 0.75);
        border-top-color: #151c22;
        border-bottom-color: #151c22;
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .btn-white[aria-expanded=true] {
        background-color: #1867a6;
        color: rgba(255, 255, 255, 0.75);
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .btn-white:hover {
        background-color: #1867a6;
        color: rgba(255, 255, 255, 0.75);
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .btn-white:focus,
    body.rex-has-theme:not(.rex-theme-light) .mform .btn-white:active {
        background-color: #1867a6;
    }

    body.rex-has-theme:not(.rex-theme-light) .mform-tabs .btn-white {
        background-color: #202b35;
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .btn-white:after {
        color: rgba(255, 255, 255, 0.75);
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .btn-white:hover:after {
        color: #7abaec;
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .btn-white[aria-expanded="true"]:after {
        color: #7abaec;
    }

    body.rex-has-theme:not(.rex-theme-light) .mform .collapse,
    body.rex-has-theme:not(.rex-theme-light) .mform .collapsing {
    }
}


.rex-theme-light section.repeater .repeater-group,
section.repeater .repeater-group {
    padding: 0.5rem 1.25rem 1.25rem 1.25rem;
    margin-bottom: 0.5rem;
    transition: box-shadow 0.3s ease-in-out;

    border: 1px solid rgba(100, 100, 100, 0.20);
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
    position: relative;
}

section.repeater .repeater-group:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: auto;
    width: 0;
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    transition: width 0.25s ease-in-out;
}

.rex-theme-light section.repeater .repeater-group:hover::before,
section.repeater .repeater-group:hover::before {
    background-color: rgba(0, 0, 0, 0.3);
    width: 3px;
}

.rex-theme-light section.repeater .repeater-group:hover,
section.repeater .repeater-group:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .22);
}

.rex-theme-dark section.repeater .repeater-group {
    border: 1px solid rgba(72, 72, 72, 0.2);
    background: rgba(17, 17, 17, 0.55);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

.rex-theme-dark section.repeater .repeater-group:hover::before {
    background-color: rgba(255, 255, 255, 0.3);
}
.rex-theme-dark section.repeater .repeater-group:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .22);
}

section.repeater .repeater-group:last-child {
    margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
    section.repeater .repeater-group {
        border: 1px solid rgba(72, 72, 72, 0.2);
        background: rgba(17, 17, 17, 0.55);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
    }

    section.repeater .repeater-group:hover::before {
        background-color: rgba(255, 255, 255, 0.3);
    }
    section.repeater .repeater-group:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, .22);
    }
}

section.repeater .repeater-group header > div {
    display: block;
    position: absolute;
    right: 0;
    width: 120px;
    text-align: right;
}

section.repeater .repeater-group header {
    position: relative;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    transition: background 0.3s ease-out;
    min-height: 30px;
}

section.repeater .repeater-group header + .mform > .mform-tabs {
    margin-top: 20px;
}

section.repeater .repeater-group > .mform > fieldset:first-child,
section.repeater .repeater-group header + .mform > .mform-tabs:first-child {
    margin-top: -8px;
}

section.repeater .repeater-group header + .mform > .mform-tabs .tab-content {
    padding-bottom: 10px;
}

.repeater-group header + .mform > .mform-tabs:last-child .tab-content {
    margin-bottom: -5px;
    padding: 15px 10px;
}

.repeater-group header .btn {
    padding: 1px;
    text-decoration: none;
}

.repeater-group header .btn.disabled {
    opacity: .2;
}

.repeater-group header .btn-red {
    color: #d9534f;
}

.repeater-group header .btn-red:hover {
    color: #ff0800;
}

.mform-inline-img-radios label span {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 2px 4px;
    font-size: 11px;
}

.mform-inline-img-radios label span {
    background-color: rgba(27, 27, 27, 0.92);
    border: 1px solid rgba(255,255,255,0.7);
    color: #fff;
}

.mform-inline-img-radios label img {
    opacity: 0.67;
}

.mform-inline-img-radios input[type=radio] {
    display: none;
}

.mform-inline-img-radios label img {
    transition: 100ms all;
    width: 150px;
    height: 150px;
    border: 4px solid transparent;
}

.mform-inline-img-radios label.active img {
    border: 4px solid #79af8a;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.03);
    opacity: 0.97;
}

.mform-inline-img-radios label img {
    border: 2px solid rgba(94, 94, 94, 0.3);
}

.mform-inline-img-radios .form-group .radio {
    position: relative;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}

.mform-inline-img-radios label {
    position: relative;
    padding-left: 0;
    padding-right: 5px;
}

.mform-inline-color-radios .form-group .radio {
    position: relative;
    padding-left: 0;
    padding-right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.mform-inline-color-radios .form-group .radio > label {
    padding-left: 0;
}

.mform-inline-color-radios .form-group .radio > label span {
    transform: scale(1);
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    transition: transform 0.2s ease-in-out;
    border: 1px solid rgba(150,150,150,0.5);
}

.mform-inline-color-radios .form-group .radio > label:hover span {
    transform: scale(1.25);
}

.mform-inline-color-radios .form-group .radio input {
    display: none;
}

.mform-inline-color-radios .form-group .radio input[type=radio]:checked + span {
    transform: scale(1.25);
    border: 2px solid #79af8a;
}
