table.rex-module caption,
table.rex-module th,
table.rex-module td {
  border:0;
  border-bottom:1px solid #fff;
  vertical-align:top;
}
table.rex-module {
  border-top:1px solid #fff;
  clear:both;
  width:100%;
  background:#D6E1E4;
  border-collapse:collapse;
  border-spacing:1px;
  font-size: 100%;
}
table + table.rex-module {
  border-top: 0;
}
table.rex-module th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 1.1em;
  width: 120px;
}
table.rex-module td {
  padding: 10px;
}
table.rex-module tr {
  background-color: #F0F0F0;
}
table.rex-module tr:hover {
  background-color: #e7e7e7;
}
table.rex-module tr.description:hover {
  background-color: #F0F0F0;
}
table.rex-module tr:hover a{
  color: #343434;
}