.mform-headline h3 {
  margin: 0;
}
.mform .form-control.parsley-success:focus {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}
.mform .form-control.parsley-error:focus {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}
.mform select.form-control {
  height: 34px;
}
.mform select[multiple], .mform select[size] {
  height: auto;
}
.mform .form-horizontal .mform-headline,
.mform .form-horizontal  .mform-description {
  margin-left: 0;
  margin-right: 0;
}

/* mform tab style by Thomas Skerbis */

.mform .nav-tabs > li.active > a,
.mform .nav-tabs > li.active > a:focus,
.mform .nav-tabs > li.active > a:hover {
  border-width: 0;
}

.mform .nav-tabs > li > a {
  border: none;
  color: #283541;
  background: rgba(67, 182, 150, 0.37);
}

.mform .nav-tabs > li.active > a,
.mform .nav-tabs > li > a:hover {
  border: none;
  color: #4285F4 !important;
  background: #FFF;
}

.mform .nav-tabs > li > a::before {
  content: "";
  background: #4F9BD7;
  height: 4px;
  position: absolute;
  width: 100%;
  left: 0px;
  top: -2px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.mform .nav-tabs > li.active > a::before,
.mform .nav-tabs > li:hover > a::after {
  transform: scale(1);
}

.mform .tab-nav > li > a::after {
  background: #4285F4 none repeat scroll 0% 0%;
  color: #fff;
}

.mform .tab-pane {
  padding: 15px 0;
}

.mform.tab-content {
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
}